<header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <!-- /responsive nav button -->
            <!-- logo -->
            <a class="navbar-brand" onclick="window.location.href='@Url.Action("Index","Home")'">
                <h3 id="logo">
                    Neocol
                    <!--<img src="img/logo.png" alt="NeoCol">-->
                </h3>
            </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li class="current"><a onclick="window.location.href='@Url.Action("Index","Home")'">Home</a></li>
                <li class="drop-down">
                    <a href="#about">About Us</a>
                    <ul>
                        <li><a onclick="window.location.href='@Url.Action("Commitments","Home")'">Our Commitments</a></li>
                        <li><a onclick="window.location.href='@Url.Action("Highlights","Home")'">Highlights & Infrastructure</a></li>
                        <li><a onclick="window.location.href='@Url.Action("Environment","Home")'">Environment & Safety</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a>Our Process</a>
                    <ul>
                        <li class="drop-down">
                            <a>Pre Treatment Plants</a>
                            <ul>
                                <li><a onclick="window.location.href='@Url.Action("DipType","Home")'">Dip Type – (Automatic/Manual)</a></li>
                                <li><a onclick="window.location.href='@Url.Action("SprayType","Home")'">Spray Types</a></li>
                                <li><a onclick="window.location.href='@Url.Action("PTPlant","Home")'">PT Plant Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a>Powder Coating Plants And Accessories</a>
                            <ul>
                                <li><a onclick="window.location.href='@Url.Action("ConvayorPowderCoating","Home")'">Conveyorized Powder Coating Plants</a></li>
                                <li><a onclick="window.location.href='@Url.Action("BatchPowderCoating","Home")'">Batch Type Powder Coating Plants</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a>Liquid Painting Plants And Accessories</a>
                            <ul>
                                <li><a onclick="window.location.href='@Url.Action("LiquidConvayorCoating","Home")'">Conveyorized Painting plants</a></li>
                                <li><a onclick="window.location.href='@Url.Action("LiquidBatchCoating","Home")'">Batch Type Painting Plant</a></li>
                            </ul>
                        </li>
                        <li><a onclick="window.location.href='@Url.Action("ECoatingLine","Home")'">E Coat & Autophoretic Coating Lines</a></li>
                        <li><a onclick="window.location.href='@Url.Action("UVPaintingLine","Home")'">UR & IR Painting Lines</a></li>
                        <li><a onclick="window.location.href='@Url.Action("WoodEffectLine","Home")'">Wood Effect & Water Flim Transfer Lines</a></li>
                        <li><a onclick="window.location.href='@Url.Action("MaterialHandling","Home")'">Material Handling System</a></li>
                        <li class="drop-down">
                            <a>Curing Ovens & Accessories</a>
                            <ul>
                                <li><a onclick="window.location.href='@Url.Action("ConvayorCuringOven","Home")'">Conveyorised Curing Oven</a></li>
                                <li><a onclick="window.location.href='@Url.Action("BatchCuringOven","Home")'">Batch Type Curing Oven</a></li>
                            </ul>
                        </li>
                        <li><a onclick="window.location.href='@Url.Action("PaintShop","Home")'">Accessories for Paint Shop</a></li>
                    </ul>
                </li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">Services</a></li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">Gallery</a></li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">Testimonials</a></li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">Clients</a></li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">FAQ</a></li>
                <li><a onclick="window.location.href='@Url.Action("Index","Home")'">Contact</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>